*{
	margin:0;
	padding: 0;
	
}
a{
	color: #000;
	text-decoration: none;
}
li{
	list-style: none;
}
input{
	outline: none;
}
.dengru_box{
	width: 1264px;
	height: 870px;
}
.dengru_header{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	
}
.dengru_header a{
	float: left;
	height: 30px;
	width: 194px;
	margin-top: 15px;
	background: url(../img/zouxiu/dengru/logo_mini.png) no-repeat ;
}
.dengru_main{
	width: 1264px;
	height: 700px;
	background: #f7f2ec;
}
.dengru_main .form1{
	width: 1200px;
	height: 560px;
	margin: 0 auto;
	position: relative;
	background: url(../img/zouxiu/dengru/login_bg.jpg) no-repeat 0px 70px;
}


.kuang{
	width:420px ;
	height: 560px;
	box-shadow: 0 0 20px #c8c8c8;
	border: 1px solid #d8d8d8;
	position: absolute;
	top:70px;
	right: 0;
	background: white!important;
}
.kuang>ul{
	width: 420px;
	height: 50px;
	
}
.kuang>ul>li{
	float: left;
	text-align: center;
	font-size: 16px;
	width: 210px;
	line-height: 50px;
	text-shadow: #fff 0 1px 0;
	cursor: pointer;
	color: #3c3c3c;
	background: #f7f7f9;
}
.kuang>ul>li:hover{
	border-bottom: 3px solid #000;
	color: #000;
	font-weight: bolder;
}
.tihuan1{
	width: 300px;
	height:180px;
	margin: 30px auto;
}
.tihuan1>ul>li{
	position: relative;
	margin-bottom: 10px;
	width: 300px;
	height: 36px;
}
.tihuan1>ul>li:nth-of-type(1){
	height: 12px;
	display: none;
}
.tihuan1>ul>li:nth-of-type(3){
	height: 12px;
	display: none;
}
.tihuan1>ul>li>input{
	width:300px;
	height: 24px;
	font-size: 12px;
	
}
.tihuan1>ul>li .la1{
	position: absolute;
	top: 6px;
	left: 6px;
	font-size: 12px;
	color: #afafaf;
}
.tihuan1>ul>li .la2{
	position: absolute;
	top: 6px;
	left: 6px;
	font-size: 12px;
	color: #afafaf;
}
.zhaohui>a{
	float: right;
	font-size: 16px;
	padding-left: 8px;
}
.zhaohui>a:nth-of-type(2){
	padding-right: 8px;
	border-right: 2px solid #888;
}
.tihuan1>ul>li:nth-last-of-type(1) input{
	background: red;
	width: 300px;
	height: 40px;
	border: 1px solid red;
	border-radius: 30px;
	color: #fff;
}
.tihuan1>ul>li:nth-last-of-type(1) input:hover{
	background: orangered;
}



.kuang>dl{
	font-size: 14px;
	width: 300px;
	height: 90px;
	margin: 0 auto;
	text-align: center;
}
.kuang>dl>dt{
	width: 300px;
	height: 30px;
	margin: 30px 0;
}
.kuang>dl>dt>ul{
	height: 30px;
}
.kuang>dl>dt>ul>li{
	width: 30px;
	height: 30px;
	float: left;
	margin:0 15px 0;
}
.kuang>dl>dt>ul>li>a{
	display: block;
	width: 30px;
	height: 30px;
}
.kuang>dl>dt>ul>li:nth-of-type(1) a{
	background: url(../img/zouxiu/dengru/login_sprite.png) no-repeat;
}
.kuang>dl>dt>ul>li:nth-of-type(2) a{
	background: url(../img/zouxiu/dengru/login_sprite.png) no-repeat -30px 0;
}
.kuang>dl>dt>ul>li:nth-of-type(3) a{
	background: url(../img/zouxiu/dengru/login_sprite.png) no-repeat -60px 0;
}
.kuang>dl>dt>ul>li:nth-of-type(4) a{
	background: url(../img/zouxiu/dengru/login_sprite.png) no-repeat -90px 0;
}
.kuang>dl>dt>ul>li:nth-of-type(5) a{
	background: url(../img/zouxiu/dengru/login_sprite.png) no-repeat -120px 0;
}
.kuang>dl>dd>a{
	color: blue;
}
.kuang>dl>dd>a:hover{
	text-decoration: underline;
}

.kuang>a:nth-of-type(1){
	position: absolute;
	right: 0;
	bottom: 0;
	width: 60px;
	height: 60px;
	background: url(../img/zouxiu/dengru/login_sprite.png) no-repeat  0 -395px ;
}
.kuang>a:nth-of-type(2){
	position: absolute;
	right: 50px;
	bottom: 10px;
	width: 85px;
	height: 25px;
	background: url(../img/zouxiu/dengru/login_sprite.png) no-repeat  0 -360px ;
}


.dengru_footer{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}
.two{
	width: 1200px;
	height: 32px;
}
.two a{
	color: #000;
	font-size: 12px;
	border-right: 1px solid #000;
	padding:0 8px 0;
}
.two ul{
	height: 32px;
	margin-left: 250px;
}
.two li{
	float: left;
	width: 67px;
	height: 16px;
	line-height: 32px;
}
.two li:last-child>a{
	border: none;
	padding-right: 0;
}
.two a:hover{
	color: darkorange;
}
.four{
	width: 1200px;
	height: 20px;
}
.four>p{
	color: #888;
	margin-left: 230px;
}
.four a{
	color: #888;
}
.four a:hover{
	color: darkorange;
}
.four a:last-child{
	padding-left: 20px;
	background: url(../img/zouxiu/wab.png) no-repeat;
}